.container {
  position: absolute;
  width: 100%;
  top: 97%;
  z-index: 9999999;
}

.item {
  background: white;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.itemActive {
  composes: itemActive from './Shared.css';
}
