$sidePadding: 10px;

.container {
  width: 100%;
  position: relative;
  height: 50px;
  box-shadow: 0px 0px 2px -0.4px rgba(0,0,0,.2);
  margin: 0 0 1rem 0;

  &:hover {
    box-shadow: 0px 0px 6px -0.4px rgba(0,0,0,.2);
  }
}

.containerWithMessage {
  margin-bottom: 1.8rem;
}

.inputText {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;

  padding: 0 $sidePadding;
  transition: .2s box-shadow ease-in;
  padding-top: 13px;
  font-size: 14px;
  
  &:focus {
    box-shadow: 0px 0px 6px -0.4px rgba(0,0,0,.2);
    outline: none;
    transition: .1s box-shadow ease-out;
  }
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $sidePadding;
  pointer-events: none;
  transition: .2s all ease;
}

.labelActive {
  top: 25%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 10px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  /*background: lightgray;*/
}

.message {
  position: absolute;
  top: 115%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  overflow: scroll;
  white-space: nowrap;
}

.greenBackground {
  background: green;
}

.greenColor {
  color: green;
}

.redBackground {
  background: red;
}

.redColor {
  color: red;
}