@import "css-vars/index.scss";
$sidePadding: 10px;
$borderRadius: 5px;

.container {
  width: 100%;
  position: relative;
  height: 50px;
  border-radius: $borderRadius;
  margin: 0 0 1rem 0;
  border: 1px solid $color-Mono--light;

  &:hover {
    box-shadow: 0 0 3px -0.4px rgba(0,0,0,0.2);
  }
}


.containerWithMessage {
  margin-bottom: 1.8rem;
}

.inputText {
  background: transparentize( $color-Mono--lightest, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 $sidePadding;
  transition: 0.2s box-shadow ease-in;
  padding-top: 13px;
  font-size: 14px;
  border-radius: $borderRadius;

  &:focus {
    outline: none;
  }
}

.label {
  color: $color-Mono--base;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $sidePadding;
  pointer-events: none;
  transition: 0.2s all ease;
  font-size: 14px;
}

.labelActive {
  top: 25%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 10px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  /*background: lightgray;*/
}

.message {
  position: absolute;
  top: 115%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  overflow: scroll;
  white-space: nowrap;
}

.greenBackground {
  background: green;
}

.greenColor {
  color: green;
}

.redBackground {
  background: red;
}

.redColor {
  color: red;
}



.invalid {
  .label {
    color: red;
  }
  .bar {
    background: red;
  }
  .message {
    color: red;
  }
}


.valid {
  .label {
    color: green;
  }
  .bar {
    background: greem;
  }
  .message {
    color: greem;
  }
}
