@import 'css-vars';

.container {
  position: relative;
	// top: 4rem;
	width: 100%;
	height: calc(100% - $paneHeader-Height);
	overflow: scroll;
	background-color: $color-Mono--white;
	padding: 1rem;
	flex: 1;
	padding-top: 4rem;

	&:not(:last-child) {
		/* for when the sidebar is split */
		border-right: 1px solid;
	}
}

.sidebarContainer {
	composes: container from './PaneSidebar.css';
}

.sidebarContainer .container {
	background: blue;
}

.noHeader {
	top: 0;
	height: 100%;
	padding-top: 1rem;
}
