@import "css-vars/index.scss";

.item {
  list-style: none;
  width: 100%;
  padding: 1rem;
  display: flex;
  border: 1px solid lightgrey;
  min-width: 550px;
  overflow: scroll;
  height: 80px;
}

.imageContainer {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: auto;
  max-width: 50px;
  border-radius: 50%;
}

.fields {
  flex: 1 1 100%;
  display: flex;
  padding: 0 1rem;
}

.field {
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  // align-items: ;
  justify-content: space-between;
  flex-direction: column;
}

.fieldTitle {
  font-size: $font--little;
}

.fieldValue {
  font-size: $font--lead;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
