@import 'css-vars';

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: calc(100vh - $navbar-Height);
	margin-top: $navbar-Height;
	background: $color-Mono--white;
}
