@import 'css-vars';

.container {
  position: relative;
  top: $calendar-Header--height;
  height: calc(100% - $calendar-Header--height);
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

