@import 'css-vars';

.week {
  composes: week from './Shared.css';
  flex: 1;
}

.day {
  composes: day from './Shared.css';
}

.disabled {
  background: grey;
}

.month {
  display: flex;
  height: 100%;
}

