@import 'css-vars';

.month {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Week is for big calendar, weekWidget is for mini one */

.week {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}

.weekWidget {
  height: 1.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* day is for big calendar, dayWidget is for mini one */

.day {
  position: relative;
  flex: 1 0 100px;
  text-align: center;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  border: $border;
  width: 100;
}

.dayWidget {
  width: 100%;
  font-size: inherit;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .2rem;
}

/* Header */ 


.header {
  composes: week;
  position: absolute;
  max-height: $calendar-Header--height;
}

.headerWidget {
  width: 100%;
  border: $border;
  padding: 1rem;
  padding-top: .5rem;
}
