@import 'css-vars';

$disabledColor: $color-Mono--light;

.base {
  background: white;
  min-height: 2.5rem;
  border-radius: 5px;
  border: $border--Brand--accent;
  padding: .5rem; 
  color: $color-Brand--accent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  display: inline-block;  
  cursor: pointer;
  border-radius: 3px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  :hover {
    background: linear-gradient(to top, $color-Brand--accent, $color-Brand--accent--dark);
    color: white;
  }

  :active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: $color-Brand--accent;
    color: white;
  }

  &[disabled] {
    cursor: not-allowed;
    background: $disabledColor;

    :hover {
      background: $disabledColor;
    }

    * {
      pointer-events: none;
    }
  }
}

.base--active {
  background: $color-Brand--accent;
  color: white;
}

.mini {
  min-height: 1.5rem;
  font-size: 0.8rem;
  padding: 0 10px;
}

.block {
  width: 100%;
  // border-radius: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
